

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

html,
body {
    font-family: 'Hind', Helvetica, Arial, Sans-serif;
    font-size: 16px;
    color: #464646;
    width: 100%;
    height: 100%;
}

h2 {
    margin: 12px 0;
}

h3 {
    font-size: 28px;
    margin-bottom: 0;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    color: #505050;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



.container {
    width: 95%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
}

nav {
    position: relative;
    width: 100%;
    padding: 18px 0;
}

nav h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ie-transform: translateX(-50%);
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 24px;
}

.slide-down {
    transform: translateY(200%);
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
    -ie-transform: translateY(200%);
}

.left-nav {
    float: left;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    padding-top: 5px;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ie-transition: all 0.3s;
}

.left-nav i {
    vertical-align: -2px;
    font-size: 24px;
}


.right-nav {
    float: right;
}

.right-nav li {
    display: inline-block;
    margin-left: 15px;
}

.right-nav i {
    font-size: 18px;
    color: #464646;
    vertical-align: bottom;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ie-transition: all 0.3s;
}

.grid-item {
    width: 33.33333333%;
    float: left;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ie-transition: all 1s ease;
    transition: all 1s ease;
}

.right-nav i:hover,
.left-nav:hover,
.left-nav i:hover {
    color: #797979;
}

.project-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.project-container:before {
    content:"";
    display:block;
    margin-top: 90%;
}

.projects {
    position: relative;
    -webkit-transition: transform 0.8s ease;
    -moz-transition: transform 0.8s ease;
    -ie-transition: transform 0.8s ease;
    transition: transform 0.8s ease;
}

.projects img {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.overlay {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0;
    text-align: center;
     -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

}

.overlay div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

.overlay:hover {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .projects li {
        width: 50%;
    }
}


@media screen and (max-width: 768px) {
    .projects li {
        width: 50%;
    }

    nav h1 {
        position: absolute;
        top: 10px;

    }

    .right-nav,
    .left-nav {
        margin-top: 20px;
    }

    nav {
        padding-bottom: 10px;
    }
}


@media screen and (max-width: 420px) {
    .projects li {
        width: 100%;
    }
}

.overlay-view {
    position: fixed;
    background-color: #000;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    z-index: 99;
     -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ie-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.overlay-view .container {
    -webkit-box-sizing: boder-box;
    -moz-box-sizing: boder-box
    -ie-box-sizing: boder-box
    box-sizing: border-box;
    position: absolute;
    width: 32%;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 4%;
}

.close {
    color: #fff;
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
     -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ie-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.close:hover {
    color: #949494;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}


.position-block {
    position: fixed;
    z-index: 99;
    -webkit-box-sizing: boder-box;
    -moz-box-sizing: boder-box
    -ie-box-sizing: boder-box
    box-sizing: border-box;
}


/*
*
* About Section
*
*/

.about {
    display: none;
    opacity: 0;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ie-transition: opacity 1s ease;
    transition: opacity 1s ease;
}


.about .container {
    width: 75%;
    margin: 120px auto;
    position: relative;
    left: -40px;
}

.about.show {
    opacity: 1;
}

.about-image {
    width: 15%;
    float: left;
    text-align: right;
}

.about-image img {
    max-width: 100px;
}

.about-text {
    margin-left: 20%;
}


@media screen and (max-width: 768px) {
    .about-image {
        display: none;
    }

    .about .container {
        width: 100%;
        position: static;
        margin: 65px auto;
    }

    .about-text {
        margin-left: 0;
    }
}

.project-description {
    color: #9A9A9A;
}

.overlay-view h3 {
    color: #E0DEDE;
}

.project-link {
    margin-top: 25px;
    border-top: 1px solid #2B2B2B;
    padding-top: 10px;
}

.fix-pos {
    overflow: hidden;
}



/*
*
* Animation Effects
*
*/

.projects li {
    opacity: 0;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ie-transition: opacity 1s ease;
    transition: opacity 1s ease;

}

.project-details {
    opacity: 0;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ie-transition: opacity 1s ease;
    transition: opacity 1s ease;
}

.project-details.show {
    opacity: 1;
}

.projects li.shown {
    opacity: 1;
}


.projects li.animate {

    -webkit-transform: translateY(200px);
    transform: translateY(200px);
    -webkit-animation: moveUp 0.65s ease forwards;
    animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
    0% { }
    100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
    0% { }
    100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}